# Import Modules

In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
from psycopg2 import Error
from sqlalchemy import create_engine

# Create Connection

In [3]:
# PostgreSQL connection details
username = "postgres"
password = "some_password"
host = "localhost"
port = "5432"
database = "postgres"

In [24]:
# Connect to PostgreSQL using variables

connection = psycopg2.connect(
    user=username,
    password=password,
    host=host,
    port=port,
    database=database
)

## Load saved df

In [15]:
# Sample ML features DataFrame
ml_features_df_subset = pd.read_csv('..\data\ml_data.csv',)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\otto\AppData\Local\Temp\ipykernel_27472\2867905681.py:2: SyntaxWarning: invalid escape sequence '\d'
  ml_features_df_subset = pd.read_csv('..\data\ml_data.csv',)

In [18]:
# Rename the "Domain" column in the DataFrame to match the table column name
ml_features_df_subset.rename(columns={"Domain": "domain"}, inplace=True)

In [16]:
ml_features_df_subset.head()

,title,Domain,tags,published_at_date,tags_encoded,lda_topics_n,nmf_topic_n,tfidf_keywords,yake_keywords,url
0,superstar chef yannick alléno brings refined f...,forbes.com,World News,2023-11-01,13,19,15,"london, chef, menu, dine, french, culinari, tr...","london, pavyllon, chef, alléno, yannick, frenc...",https://www.forbes.com/sites/elizabethbrownfie...
1,nice claim top spot in ligue 1 with late win a...,channelnewsasia.com,World News,2023-10-27,13,19,7,"nice, ligu, point, win, provision, foul, unbea...","nice, clermont, boudaoui, point, place, top, w...",https://www.channelnewsasia.com/sport/nice-cla...
2,amphibians are the world’s most vulnerable spe...,time.com,World News,2023-10-04,13,16,17,"frog, studi, skin, threaten, speci, biologist,...","amphibian, studi, chang, frog, threaten, speci...",https://time.com/6320467/amphibians-most-vulne...
3,image: rusty red waters in madagascar,phys.org,World News,2023-10-31,13,16,17,"madagascar, delta, water, purpos, arteri, turt...","water, rusti, purpos, river, delta, madagascar...",https://phys.org/news/2023-10-image-rusty-red-...
4,everything leaving max (formerly hbo max) in n...,digitaltrends.com,World News,2023-10-23,13,19,15,"nightmar, hbo, season, novemb, street, origin,...","elm, origin, street, novemb, nightmar, hbo, se...",https://www.digitaltrends.com/movies/everythin...

## create table in sql

In [25]:
# drop_table_query = "DROP TABLE IF EXISTS ml_features;"
# # Execute SQL query to create tables
# try:
#     cursor = connection.cursor()
#     cursor.execute(drop_table_query)
#     connection.commit()
#     print("Table dropped successfully!")
# except (Exception, Error) as error:
#     print("Error while dropping table:", error)
# finally:
#     if connection:
#         cursor.close()

Table dropped successfully!

In [26]:
# SQL query to create the table with relevant columns
create_table_query = """
CREATE TABLE IF NOT EXISTS ml_features (
    title TEXT,
    Domain VARCHAR(255),
    tags VARCHAR(255),
    published_at_date DATE,
    tags_encoded INT,
    lda_topics_n INT,
    nmf_topic_n INT,
    tfidf_keywords TEXT,
    yake_keywords TEXT,
    url TEXT
);
"""

In [13]:
# Execute SQL query to create tables
try:
    cursor = connection.cursor()
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully!")
except (Exception, Error) as error:
    print("Error while creating table:", error)
finally:
    if connection:
        cursor.close()

Table created successfully!

In [27]:
# Load data into PostgreSQL
try:
    # Create SQLAlchemy engine
    engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

    # Replace 'ml_features' with the name of your existing table
    ml_features_df_subset.to_sql('ml_features', engine, if_exists='append', index=False)

    print("Data loaded into PostgreSQL successfully!")
except Exception as e:
    print("Error while loading data into PostgreSQL:", e)
finally:
    # Close the connection
    if connection:
        connection.close()

Data loaded into PostgreSQL successfully!

##